* {
  background-color: black;
}

.headings {
  color: rgb(255, 193, 7);
  margin-top: 1.5rem;
}

.form-label {
  color: #cccccc;
}

#title_input {
  width: 25%;
}

#note_input {
  width: 50%;
}

.note-body {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}
